html {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#muda-estilo {
    background: transparent;
    position: absolute;
    top: 1%;
    left: 1%;
    /* margin: 1%; */
    width: 100px;
    height: 100px;
    border-radius: 10px;
    /* align-self: flex-start; */
    /* justify-self: flex-start; */

    font-size: 20px;
}

#muda-estilo:hover {
    background: red;
    color: whitesmoke;
}

#muda-estilo:active {
    background: black;
}

#res {
    font-size: 250px;
}

/* Primeiro Estilo */

body {
    width: 100%;
    height: 100%;
    background: rgb(134, 189, 158);

    display: flex;
}

#counter {
    background-image: url(https://image.freepik.com/fotos-gratis/textura-de-fundo-de-papel-vermelho-escuro-velho_113767-1612.jpg);
    background-size: cover;
    background-repeat: no-repeat;

    width: 70%;
    height: 80%;
    color: white;
    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#control {
    display: flex;
}

.button {
    width: 200px;
    height: 80px;
    background: transparent;

    color: thistle;
    font-size: 40px; 
}

.button:hover {
    background-color: teal;
}

/* .button:active {
    background-color: rgb(0, 128, 53);
}  */


/*Sobra do Primeiro Estilo 
body {
    align-items: center;
    align-content: center;
    text-align: center;
}

#counter {
    margin-top: 3%;
    justify-self: center;
} 
*/

/*Segundo Estilo*/
/* 
.body1 {
    background: rgb(134, 169, 189);
    width: 100%;
    height: 100%;
    
    display: flex;
    justify-content: center;
}

.counter1 {
    background: transparent;
    width: 100%;
    height: 100%;
    color: black;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.control1 {
    margin-right: 25%;
    align-self: flex-end;
    justify-self: flex-end;

    display: flex;    
    flex-direction: column-reverse;
}

.button1 {
    color: black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.button1:hover {
    background-color: rgb(100, 128, 0);
}

.button1:active {
    background-color: rgb(2, 61, 26);
    color: thistle;
}  */


/*Sobra do Segundo Estilo
#control {
    background-color: brown; 
}*/

